<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nodomain.ivonne.snippet">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".app.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".app.showDevicesActivity"
            android:label="@string/title_activity_desplegar_dispositivos"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".app.dimmerActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".app.timerActivity" />

        <activity
            android:name=".espConfiguration.snippetNewActivity"
            android:theme="@style/myDialog" />
        <activity
            android:name=".espConfiguration.snippetMacActivity"
            android:theme="@style/myDialog" />
        <activity
            android:name=".espConfiguration.snippetSaveActivity"
            android:theme="@style/myDialog" />
        <activity
            android:name=".espConfiguration.snippetEditActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".espConfiguration.selectImageActivity"
            android:theme="@style/myDialog" />

        <activity
            android:name=".services.backgroundActivity"
            android:theme="@style/myDialog" />
        <service
            android:name=".services.backgroundService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".services.monitorWiFi"
            android:enabled="true"
            android:exported="true"></service>
    </application>

</manifest>